{% extends 'eventm/user_dash.html' %}

{% block body %}
  <div class="page-container">
    <div class="event-details-container">
      <h2>Buy Tickets for {{ event.type }}</h2>
      <p>{{ event.description }}</p>
      <form method="post" action="{% url 'buy_tickets' event_id=event.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Purchase Tickets</button>
      </form>
      <a href="{% url 'user_dashboard' %}">Back to Dashboard</a>
    </div>
  </div>

<style>
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .event-details-container {
    flex-grow: 1;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
  }

  /* Sticky Footer */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
</style>

{% endblock %}